<!DOCTYPE html>
<html style="background:black">

<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="icon" href="MojKvartLogo_nobg.png">
    <script type="text/javascript" src="angularmin.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="darkmodebtn.js"></script> -->
</head>

<body style="background: url('background.jpg') " ng-controller="myCtrl" ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="" style="padding-left: 25px;"><b><img class="iconMK" src="MojKvartLogo_nobg.png"></b></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Forum.html" style="padding-left: 0px;"><b>Forum</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dogadaj.html"><b>Događaji</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Vijece.html"><b>Vijeće Četvrti</b></a>
                </li>
            </ul>
            <button class="btn-darkmd" ng-click="darkmodefunc()" id="btn-darkmode"><b>LIGHT MODE</b></button>
            <span class="navbar-text">
                <a class="nav-link" href="" ng-click="logout()" style="padding-right: 50px;"><b>Odjavi se</b></a>
          </span>

    </nav>

    <div class="card w-75 " style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body">
            <h5 class="card-title" ng-show="stanovnik"><b>Stanovnik</b></h5>
            <h5 class="card-title" ng-show="moderator"><b>Moderator</b></h5>
            <h5 class="card-title" ng-show="vjecnik"><b>Vjećnik</b></h5>
            <h5 class="card-title" ng-show="administrator"><b>Administrator</b></h5>
        </div>
        <br>
        <div class="card-body">

            <h5 class="card-title">Ime: <b>{{name}}</b></h5>
            <h5 class="card-title">Prezime: <b>{{surname}}</b></h5>
            <h5 class="card-title">Email: <b>{{email}}</b></h5>
            <h5 class="card-title">Adresa: <b>{{streetId}}</b></h5>
            <a href="#" class="btn btn-primary btn-secondary" ng-click="ChangeAddress()" id="ChangeAddress">Promjeni adresu</a>
        </div>
        <div class="txtField" ng-show="NewAddress">
            <i class="User icon"></i>
            <input type="text" class="txtfield-input" name="address" ng-model="address" placeholder="Adresa Stanovanja" required>
            <label></label>
            <div class="card-body">
                <div class="indicator"></div>
                <button type="submit" name="submit" class="btn btn-primary btn-secondary" ng-click="sendaddress()">Potvrdi</button>
            </div>
        </div>


    </div>
    </div>





</body>
<script type="text/javascript" src="admin.js"></script>

</html>