<!DOCTYPE html>
<html style="background:black">

<head>
    <title>Profil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">

    <link rel="icon" href="MojKvartLogo_nobg.png">
    <script type="text/javascript" src="angularmin.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="darkmodebtn.js"></script> -->
</head>

<body style="background: url('background.jpg') " ng-controller="myCtrl as $Ctrl" ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="" style="padding-left: 25px;"><img class="iconMK" src="MojKvartLogo_nobg.png"></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ng-show="ForumAdm">
                    <a class="nav-link" href="Forum.html" style="padding-left: 0px;"><b>Forum</b></a>
                </li>
                <li class="nav-item" ng-show="ForumAdm">
                    <a class="nav-link" href="dogadaj.html"><b>Događaji</b></a>
                </li>
                <li class="nav-item" ng-show="ForumAdm">
                    <a class="nav-link" href="Vijece.html"><b>Vijeće Četvrti</b></a>
                </li>
                <li class="nav-item" ng-show="AdmAct">
                    <li class="nav-item" ng-show="AdmAct">
                        <a class="nav-link" href="checkRequests.html" style="padding-left: 0px;"><b>Zahtjevi</b></a>
                    </li>
                    <li class="nav-item" ng-show="AdmAct">
                        <a class="nav-link" href="neighborhoods.html"><b>Četvrti</b> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" ng-show="AdmAct">
                        <a class="nav-link" href="users.html"><b>Korisnici</b></a>
                    </li>
                </li>
            </ul>
            <button class="btn-darkmd" ng-click="darkmodefunc()" id="btn-darkmode"><b>LIGHT MODE</b></button>
            <span class="navbar-text">
                <a class="nav-link" href="" ng-click="logout()" style="padding-right: 50px;"><b>Odjavi se</b></a>
          </span>

    </nav>

    <div class="card w-75 " style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body">
            <span>
            <h3 class="card-title" style="padding-left: 25px; float:left" ng-show="stanovnik"><b>Stanovnik</b></h3>
            <h3 class="card-title"  style="padding-left: 25px; float:left"ng-show="moderator"><b>Moderator</b></h3>
            <h3 class="card-title"  style="padding-left: 25px; float:left"ng-show="vjecnik"><b>Vjećnik</b></h3>
            <h3 class="card-title" style="padding-left: 25px; float:left" ng-show="administrator"><b>Administrator</b></h3>
            
        <a class="navbar-brand" href="" style="padding-left: 25px; float:right"><img class="iconMK" src="MojKvartLogo_nobg.png"></a>
        </span>
        </div>
        <br>
        <div class="card-body">

            <h4 class="card-title" style="padding-left: 25px;">Ime: <b>{{name}}</b></h4>
            <h4 class="card-title" style="padding-left: 25px;">Prezime: <b>{{surname}}</b></h4>
            <h4 class="card-title" style="padding-left: 25px;">Email: <b>{{email}}</b></h4>
            <h4 class="card-title" style="padding-left: 25px;">Adresa: <b>{{streetId}}</b></h4>
            <hr>
            <a ng-show="adminNotShow1" class="btn btn-primary btn-secondary" style="color: white;background:#ff6600" ng-click="ChangeAddress()" id="ChangeAddress">Promjeni adresu</a>
            <a ng-show="adminNotShow2" class="btn btn-primary btn-secondary" style="color: white;background:#ff6600" ng-click="ChangeRole()" id="ChangeRole">Promjeni ulogu</a>
        </div>
        <div class="txtField" ng-show="NewAddress">
            <i class="User icon"></i>
            <input type="text" class="txtfield-input" name="address" ng-model="address" placeholder="Adresa Stanovanja" required>
            <label></label>
            <div class="card-body">
                <div class="indicator"></div>
                <p ng-show="showNoUlica">Ulica ne postoji!</p>
                <button type="submit" name="submit" class="btn btn-grn" ng-click="sendaddress()">Potvrdi</button>
            </div>
        </div>
        <div class="txtField" ng-show="NewRole">
            <div class="card-body">

                <h5 class="card-title" ng-show="exists" style="text-align:center">Zahtjev za promjenu uloge već postoji:</h5>
                <h6 class="card-title" ng-show="changeto[0]" style="text-align:center">Promjena u stanovnika</h6>
                <h6 class="card-title" ng-show="changeto[1]" style="text-align:center">Promjena u moderatora</h6>
                <h6 class="card-title" ng-show="changeto[2]" style="text-align:center">Promjena u vjećnika</h6>
                <h6 class="card-title" ng-show="changeto[3]" style="text-align:center">Promjena u administratora</h6>
                <h5 class="card-title">Zatražena uloga:</h5>

                <input ng-show="rolear[0]" type="radio" id="age1" name="role" value="0">
                <label ng-show="rolear[0]" for="age1"><b>0 - Stanovnik</b></label><br ng-show="rolear[0]">
                <input ng-show="rolear[1]" type="radio" id="age2" name="role" value="1">
                <label ng-show="rolear[1]" for="age2"><b>1 - Moderator</b></label><br ng-show="rolear[1]">
                <input ng-show="rolear[2]" type="radio" id="age3" name="role" value="2">
                <label ng-show="rolear[2]" for="age3"><b>2 - Vjećnik</b></label><br ng-show="rolear[2]">
                <input ng-show="rolear[3]" type="radio" id="age4" name="role" value="3">
                <label ng-show="rolear[3]" for="age4"><b>3 - Administrator</b></label><br ng-show="rolear[3]">

            </div>
            <div class="card-body">
                <div class="indicator"></div>
                <button type="submit" name="submit" class="btn btn-grn" ng-click="sendrole()">Potvrdi</button>
            </div>
        </div>


    </div>
    </div>





</body>
<script type="text/javascript" src="profil.js"></script>

</html>