html {
    background: url('background.jpg') no-repeat center center fixed;
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Helvetica;
}

.headerlink {
    display: flex;
    justify-content: center;
    gap: 50px;
}

header {
    color: #FF2200;
    font-size: 40px;
}

.iconMK {
    width: 50%;
    height: 50%;
}

.btn-grn {
    color: white;
    background-color: darkgreen;
    border-radius: 0%;
    border-width: 0;
}

.btn-vij {
    margin-left: 3btn-smaller0px;
}

.btn-grn.darkmode {
    color: white;
    background-color: darkgreen;
    border-radius: 0%;
    border-width: 0;
}

.btn-smaller {
    color: white;
    background-color: darkred;
    border-radius: 0%;
    border-width: 0;
}

.btn-yellow {
    color: white;
    background-color: rgb(139, 139, 0);
    border-radius: 0%;
    border-width: 0;
}

.btn-org {
    color: white;
    background-color: #ff6600;
    border-radius: 0%;
    border-width: 0;
}

.btn-org.darkmode {
    color: white;
    background-color: #ff6600;
    border-radius: 0%;
    border-width: 0;
}

.btn-yellow.darkmode {
    color: white;
    background-color: rgb(139, 139, 0);
    border-radius: 0%;
    border-width: 0;
}

.btn-smaller.darkmode {
    color: white;
    background-color: darkred;
    border-radius: 0%;
    border-width: 0;
}

.btn-darkmd {
    color: black;
    background-color: white;
    border-radius: 12.5%;
    border-width: 0;
}

#deleteComm {
    outline: red;
    border: red;
    border-style: double;
    border-width: 0.5ch;
}

.btn-darkmd:hover {
    background-color: #ffffff;
    color: #888888;
}

.btn-darkmd.darkmode {
    background-color: black;
    color: white;
}

.btn-darkmd:hover.darkmode {
    background-color: #444444;
    color: #ffffff;
}

.btn.darkmode {
    background-color: #224466;
    color: white;
}

.btn-lg.darkmode {
    background-color: #222222;
    color: white;
}

.card.darkmode {
    background-color: black;
    color: white;
}

.navbar {
    background-color: #FF6600;
    color: white;
}

.links {
    text-decoration: none;
    color: #ff6600;
}

.logout {
    text-decoration: none;
    color: #ff6600;
    position: relative;
    top: 0px;
    right: 0px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #ff6600;
}

#newform {
    display: none;
}

.box {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.625rem;
    text-align: center;
}

.box h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
    background: -webkit-linear-gradient(#ffffff, #ff9944, #ff6600, #ff9944, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: roboto;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% -50px);
}

.txtfield {
    display: inline-block;
    height: 80px;
    padding-left: 21px;
    position: relative;
    text-align: center;
}

.txtfield-input {
    margin-top: 10px;
    background: #fff;
    color: rgb(255, 255, 255);
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    width: 256px;
    font-size: 20px;
    position: relative;
    left: 0%;
    z-index: 1;
    color: #000;
}

.txtfield-input:focus {
    outline: none;
}

.txtfield label {
    color: #9e9e9e;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    left: 18%;
    position: absolute;
    top: 4%;
    transition: top .3s ease-in-out 0s;
    z-index: 0;
}

.form-control.darkmode {
    color: #eeeeee;
    background-color: #222222;
    border-color: #AAAAAA;
}

.form-control:focus.darkmode {
    color: #eeeeee;
    background-color: #333333;
    border-color: #AAAAAA;
}

.p-3 {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

.p-3.darkmode {
    background-color: #111111;
    color: white;
}


/*
.txtfield-input:focus+label {
    color: #03a9f4;
    top: -30%;
}

.txtfield-input+label+.indicator {
    border-bottom: 2px solid #03a9f4;
    height: 0;
    position: absolute;
    top: 28%;
    left: 18%;
    transition: width .1s ease-in 0s;
    width: 0;
    z-index: 2;
}

.txtfield-input:focus+label+.indicator {
    width: 85%;
}

.txtfield-input:valid+label {
    top: 30%;
}
*/

.icon {
    color: #fff;
    min-width: 22px;
    text-align: center;
    font-size: 21px;
}

.error {
    color: #ff0033;
    animation: fadeIn 0.5s linear forwards;
    font-style: italic;
    font-size: 0.8em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.account {
    color: #fff;
    text-align: center;
}

.account a {
    color: #ff6600;
    cursor: pointer;
    font-weight: bold;
}


/* ovdije trebam razmisliti o centriranju boxa */

.accbox {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 256px;
    margin-left: 16%;
}

.logindiv {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

.loginbtn {
    position: absolute;
    text-align: center;
    margin: auto;
    transform: translate(-50%, -50%);
    color: #ff6600;
    padding: 15px 50px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.lspan:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #0c002b, #f60);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.lspan:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #ff6600);
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.lspan:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, #0c002b, #ff6600);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.lspan:nth-child(4) {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #f60);
    animation: animate4 2s linear infinite;
}

@keyframes animate4 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}