<!DOCTYPE html>
<html style="background:black">

<head>
    <title>Forum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <script src="angularmin.js"></script>
    <link rel="icon" href="MojKvartLogo_nobg.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="users.js"></script>
    <!-- <script type="text/javascript" src="darkmodebtn.js"></script> -->
</head>


<body style="background: url('background.jpg') " ng-controller="myCtrl as $ctrl" ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="" style="padding-left: 25px;"><b><img class="iconMK" src="MojKvartLogo_nobg.png"></b></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="checkRequests.html" style="padding-left: 0px;"><b>Zahtjevi</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="neighborhoods.html"><b>Četvrti</b> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="users.html"><b>Korisnici</b></a>
                </li>
            </ul>
            <button class="btn-darkmd" ng-click="darkmodefunc()" id="btn-darkmode"><b>LIGHT MODE</b></button>
            <span class="navbar-text">
                <a class="nav-link" href="" ng-click="logout()" style="padding-right: 50px;"><b>Odjavi se</b></a>
          </span>
            <span class="navbar-text">
            <a href="Profil.html"><b>{{getUserRoleText()}}</b></a>
            <!--<a href="Profil.html" ng-show="stanovnik"><b>Stanovnik</b></a>
            <a href="Profil.html" ng-show="moderator"><b>Moderator</b></a>
            <a href="Profil.html" ng-show="vjecnik"><b>Vjećnik</b></a>
            <a href="Profil.html" ng-show="administrator"><b>Administrator</b></a>-->
        </span>
        </div>
    </nav>

    <div class="card w-75" id="maincard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body">
            <h3 class="card-title">Upravljanje korisnicima</h3>
            <div ng-repeat="user in users">
                <h5 class="card-title" style="float: left">{{getUserString($index)}}</h5>
                <a class="btn btn-smaller" ng-show="deleteUser" ng-click="setShow($index, 3)" style="margin-left: 20px; color: white; float: right">Izbriši</a>
                <span ng-show="banUser">
                    <a class="btn btn-primary btn-smaller" ng-show="banlist[$index]==0" ng-click="setShow($index, 2)" style="margin-left: 20px; color: white; float: right">Blokiraj</a>
                    <a class="btn btn-primary btn-smaller" ng-show="banlist[$index]==1" ng-click="setShow($index, 2)" style="margin-left: 20px; color: white; float: right">Odblokiraj</a>
                </span>
                <a class="btn btn-grn" ng-show="promijeniShow" ng-click="setShow($index, 1)" style="margin-left: 20px; color: white; float: right">Promijeni ulogu</a>
    
                <br></br>
                <div ng-show="notiflist[$index]==1">
                    <p class="card-text" style="float: left">{{getZahtjevString($index)}}</p>
                    <a class="btn btn-primary btn-smaller" ng-click="goToRequests()" style="float: left; margin-left: 5px; color: white">Odi na stranicu zahtjeva</a>
                    <br></br>
                </div>
                <div ng-show="showlist[$index]==1">
                    <p class="card-text" style="float: left">Odaberite novu ulogu</p>
                    <a class="btn btn-primary btn-smaller" ng-click="setRoleToBe($index, 0)" style="margin-left: 5px; color: white; float: left">Stanovnik</a>
                    <a class="btn btn-primary btn-smaller" ng-click="setRoleToBe($index, 1)" style="margin-left: 5px; color: white; float: left">Moderator</a>
                    <a class="btn btn-primary btn-smaller" ng-click="setRoleToBe($index, 2)" style="margin-left: 5px; color: white; float: left">Vijećnik</a>
                    <a class="btn btn-primary btn-smaller" ng-click="setRoleToBe($index, 3)" style="margin-left: 5px; color: white; float: left">Administrator</a>
                </div>
                <div ng-show="$ctrl.changeRoleChoice[$index]">
                    <p class="card-text" style="float: left">Jeste li sigurni?</p>
                    <a class="btn btn-primary btn-smaller" ng-click="setRole($index)" style="margin-left: 5px; color: white; float: left" id="potvrdiChangeRole">Da</a>
                    <a class="btn btn-primary btn-smaller" ng-click="setRoleNo($index)" style="margin-left: 5px; color: white; float: left" id="cancelChangeRole">Ne</a>
                </div>
                <div ng-show="showlist[$index]==2">
                    <p class="card-text" ng-show="banlist[$index]==0" style="float: left">Jeste li sigurni da želite privremeno blokirati korisnika?</p>
                    <a class="btn btn-primary btn-smaller" ng-show="banlist[$index]==0" ng-click="blockUser($index)" style="margin-left: 5px; color: white; float: left">Da</a>
                    <p class="card-text" ng-show="banlist[$index]==1" style="float: left">Jeste li sigurni da želite odblokirati korisnika?</p>
                    <a class="btn btn-primary btn-smaller" ng-show="banlist[$index]==1" ng-click="unblockUser($index)" style="margin-left: 5px; color: white; float: left">Da</a>
                    <a class="btn btn-primary btn-smaller" ng-click="setShow($index, 0)" style="margin-left: 5px; color: white; float: left">Ne</a>
                </div>
                <div ng-show="showlist[$index]==3">
                    <p class="card-text" style="float: left">Jeste li sigurni da želite trajno izbrisati korisnika?</p>
                    <a class="btn btn-primary btn-smaller" ng-click="deleteUser1($index)" style="margin-left: 5px; color: white; float: left">Da</a>
                    <a class="btn btn-primary btn-smaller" ng-click="setShow($index, 0)" style="margin-left: 5px; color: white; float: left">Ne</a>
                </div>
                <br></br>
            </div>
        </div>
    </div>





    <footer class="bg-light text-center text-lg-start" style="background-color:#000000;">
        <div class="text-center p-3" style="background-color: rgba(0,0,0,0.2);">
            © 2021 Copyright: <span><b>MojKvart</b></span>
            <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top" style="color:#ff6600;">
      <i class="fas fa-arrow-up ">TOP</i>
    </button>
        </div>
    </footer>




</body>

</html>