<!DOCTYPE html>
<html style="background:black">

<head>
    <title>Vijece</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">

    <link rel="icon" href="MojKvartLogo_nobg.png">
    <script src="angularmin.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="Vijece.js"></script>
    <!-- <script type="text/javascript" src="darkmodebtn.js"></script> -->
</head>


<body style="background: url('background.jpg') " ng-controller="myCtrl as $ctrl" ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="" style="padding-left: 25px;"><img class="iconMK" src="MojKvartLogo_nobg.png"></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Forum.html" style="padding-left: 0px;"><b>Forum</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dogadaj.html"><b>Događaji</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Vijece.html"><b>Vijeće Četvrti</b><span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <button class="btn-darkmd" ng-click="darkmodefunc()" id="btn-darkmode"><b>LIGHT MODE</b></button>
            <span class="navbar-text">
                <a class="nav-link" href="" ng-click="logout()" style="padding-right: 50px;"><b>Odjavi se</b></a>
          </span>
            <span class="navbar-text">
            <a href="Profil.html"><b>{{getUserRoleText()}}</b></a>
            <!--<a href="Profil.html" ng-show="stanovnik"><b>Stanovnik</b></a>
            <a href="Profil.html" ng-show="moderator"><b>Moderator</b></a>
            <a href="Profil.html" ng-show="vjecnik"><b>Vjećnik</b></a>
            <a href="Profil.html" ng-show="administrator"><b>Administrator</b></a>-->
        </span>
        </div>
    </nav>

    <div ng-show="vjecnik"><span>
        <button type="button" class="btn btn-lg darkmodeprimary" ng-click="$ctrl.NewVij()" id="btn-open-form" style="color: #ff4400; margin-left: 12.5%; margin-top: 25px;">
        <i class="fas fa-arrow-up ">+ Novo Izvješće +</i>
      </button>
      <button type="button" class="btn btn-lg darkmodeprimary" ng-click="$ctrl.NewBudT()" id="btn-open-tema" style="color: #ff4400; margin-left: 12.5%; margin-top: 25px;">
        <i class="fas fa-arrow-up ">+ Nova Buduća Tema +</i>
      </button></span>
    </div>

    <div class="card w-75 darkmodeprimary" ng-show="$ctrl.NewVijece" style="margin-bottom: 50px; margin-top: 50px;
       justify-content: center; margin-left: 12.5%; margin-right: 12.5%;" id="newformvij">
        <div class="card-body">
            <div class="form-group">
                <input type="text" ng-model="$ctrl.vijNaslov" class="form-control" id="exampleFormControlInput11" placeholder="Naslov">
            </div>
            <div class="form-group">
                <input type="text" ng-model="$ctrl.vijOpis" class="form-control" id="exampleFormControlInput12" placeholder="Opis">
            </div>
            <div class="form-group">
                <input type="date" class="form-control darkmodeprimary" ng-model="$ctrl.vijDatum" id="exampleFormControlTextarea11" placeholder="">
            </div>
            <p ng-show="$ctrl.showWrongDateIz" class="card-text">Neispravan datum izvješća! Molimo unesite datum koji je prošao.</p>
            <p ng-show="$ctrl.showBudExistsIz" class="card-text">Već postoji buduća tema sa ovim naslovom! Molimo unesite drugi naslov.</p>
            <p ng-show="$ctrl.showIzExistsIz" class="card-text">Već postoji izvješće sa ovim naslovom! Molimo unesite drugi naslov.</p>
            <span>
            <a href="#" class="btn btn-primary btn-secondary" ng-click="$ctrl.addNewVij()" id="AddPost">Dodaj</a>
        </span></div>
    </div>


    <div class="card w-75 darkmodeprimary" ng-show="$ctrl.NewBuducaTema" style="margin-bottom: 50px; margin-top: 50px;
       justify-content: center; margin-left: 12.5%; margin-right: 12.5%;" id="newformtema">
        <div class="card-body">
            <div class="form-group">
                <input type="text" ng-model="$ctrl.vijNaslovTema" class="form-control" id="exampleFormControlInput13" placeholder="Naslov">
            </div>
            <div class="form-group">
                <input type="date" class="form-control darkmodeprimary" ng-model="$ctrl.vijDatumTema" id="exampleFormControlTextarea12" placeholder="Datum">
            </div>
            <p ng-show="$ctrl.showWrongDateBud" class="card-text">Neispravan datum buduće teme! Molimo unesite budući datum.</p>
            <p ng-show="$ctrl.showBudExistsBud" class="card-text">Već postoji buduća tema sa ovim naslovom! Molimo unesite drugi naslov.</p>
            <p ng-show="$ctrl.showIzExistsBud" class="card-text">Već postoji izvješće sa ovim naslovom! Molimo unesite drugi naslov.</p>
            <span>
            <a href="#" class="btn btn-primary btn-secondary" ng-click="$ctrl.addNewVijTema()" id="AddPostTema">Dodaj</a>
        </span></div>
    </div>

    <div class="card w-75 " style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div ng-repeat="teme in vijteme" style="padding-top: 20px;">
            <h1 class="card-title" style="text-align: center"><b>{{getVijType($index)}}</b></h1>
            <h3 class="card-title" style="padding-left: 20px"><b>{{getVijName($index)}}</b></h3><br>
            <h4 class="card-text" style="padding-left: 30px"><b>{{getVijDesc($index)}}</b></h4>
            <a ng-show="$ctrl.deleteV" class="btn btn-smaller" ng-click="$ctrl.deleteTemaShow($index)" style="float:right; margin-right:20px; color: white;" id="RemoveVij">Izbriši</a>
            <br ng-show="$ctrl.deleteTemaChoice[$index]"></br>
            <p ng-show="$ctrl.deleteTemaChoice[$index]" class="card-text" style="float: right; margin-right: 30px;"><b>Jeste li sigurni?</b></p>
            <br ng-show="$ctrl.deleteTemaChoice[$index]"></br>
            <a ng-show="$ctrl.deleteTemaChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteTemaNo($index)" style="margin-left: 20px; color: white; float:right; margin-right: 20px;" id="cancelDeleteTema">Ne</a>
            <a ng-show="$ctrl.deleteTemaChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.delete($index)" style="margin-left: 200px; color: white; float:right; margin-right: 20px;" id="potvrdiDeleteTema">Da</a>
            <br ng-show="$ctrl.deleteTemaChoice[$index]"></br>
            <a ng-show="$ctrl.showTemaButton" class="btn btn-smaller" ng-click="$ctrl.temaBtn($index)" style="float:right; margin-right:20px; color: white;" id="TemaVij">Otvori Temu</a>
            <a ng-show="$ctrl.showTemaGoButton" class="btn btn-smaller" ng-click="$ctrl.temaBtn($index)" style="float:right; margin-right:20px; color: white;" id="TemaVij">Prikaži Temu</a>

            <span><h6 class="card-text" style="padding-left: 30px"> {{getPerson($index)}}</h6>
            <h6 class="card-text" style="padding-left: 30px"> {{getVijDate($index)}}
            <div ng-show="$ctrl.showTemaText[$index]" class="form-group" style="margin-bottom: 80px">
                    <input type="text" ng-model="$ctrl.vijNewTemaDesc[$index]" style="margin-top:20px" class="form-control" id="exampleFormControlInput12" placeholder="Sadržaj teme">
                    <a class="btn btn-smaller" ng-click="$ctrl.temaBtnPost($index)" style="float:right; margin-right:20px; margin-top:20px; color: white;" id="TemaVij">Stvori temu</a>
                </div>
            </h6>

        </span>
            <hr>
            <!-- <a ng-show="editV" class="btn btn-secondary btn-edit" ng-click="$ctrl.edit($index)" id="editComm">Uredi Opis</a> -->
        </div>
    </div>




    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3 darkmodeprimary">
            © 2021 Copyright: <span><b>MojKvart</b></span>
            <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top" style="color:#ff6600;">
        <i class="fas fa-arrow-up ">TOP</i>
      </button>
        </div>
    </footer>

</body>

</html>