<!DOCTYPE html>
<html style="background: black">

<head>
    <title>Dogadaj</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="icon" href="MojKvartLogo_nobg.png">
    <script src="angularmin.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="dogadaj.js"></script>
    <!-- <script type="text/javascript" src="darkmodebtn.js"></script> -->
</head>


<body style="background: url('background.jpg') " ng-controller="myCtrl as $ctrl" ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="" style="padding-left: 25px;"><img class="iconMK" src="MojKvartLogo_nobg.png"></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Forum.html" style="padding-left: 0px;"><b>Forum</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="dogadaj.html"><b>Događaji</b><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Vijece.html"><b>Vijeće Četvrti</b></a>
                </li>
            </ul>
            <button class="btn-darkmd" ng-click="darkmodefunc()" id="btn-darkmode"><b>LIGHT MODE</b></button>
            <span class="navbar-text">
                <a class="nav-link" href="" ng-click="logout()" style="padding-right: 50px;"><b>Odjavi se</b></a>
            </span>
            <span class="navbar-text">
                <a href="Profil.html"><b>{{getUserRoleText()}}</b></a>
            <!--<a href="Profil.html" ng-show="stanovnik"><b>Stanovnik</b></a>
            <a href="Profil.html" ng-show="moderator"><b>Moderator</b></a>
            <a href="Profil.html" ng-show="vjecnik"><b>Vjećnik</b></a>
            <a href="Profil.html" ng-show="administrator"><b>Administrator</b></a>-->
            </span>

        </div>
    </nav>

    <div><span>
        <button type="button" class="btn btn-lg darkmodeprimary" id="btn-open-form" style="color:#ff6600; margin-left: 12.5%; margin-top: 25px;">
        <i class="fas fa-arrow-up ">+ Dodaj novi događaj +</i>
         </button>
        <!-- <button ng-show="EditDogShow" type="button" class="btn btn-lg darkmodeprimary" style="color:#ff6600; margin-left: 12.5%; margin-top: 25px;"
            ng-click="$ctrl.editDog()" id="EditPost">
            <i class="fas fa-arrow-up ">Uredi Događaje</i></a></button>
            <button ng-show="CloseEditDogShow" type="button" class="btn btn-lg darkmodeprimary" style="color:#ff6600; margin-left: 12.5%; margin-top: 25px;"
            ng-click="$ctrl.editDogClose()" id="EditPost">
            <i class="fas fa-arrow-up ">Završi Uređivanje</i></a></button>
        --> </span>

    </div>
    <div class="card w-75 darkmodeprimary" style="margin-bottom: 50px; margin-top: 50px;
       justify-content: center; margin-left: 12.5%; margin-right: 12.5%;" id="newform">
        <div class="card-body">
            <div class="form-group">
                <h3 ng-show="pastDate" style="text-align: center; color:red; outline:black">Potrebno je unesti valjani datum u budućnosti!</h3>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.naziv" id="exampleFormControlInput1" placeholder="Naziv Događaja">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.mjesto" id="exampleFormControlInput2" placeholder="Mjesto">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" ng-model="$ctrl.opis" placeholder="Opis Događaja" rows="2"></textarea>
            </div>
            <div class="form-group">
                <input type="date" class="form-control darkmodeprimary" ng-model="$ctrl.datum" id="exampleFormControlTextarea1" placeholder="Datum Događaja">
            </div>
            <div class="form-group">
                <input type="time" class="form-control darkmodeprimary" ng-model="$ctrl.vrijeme" id="exampleFormControlTextarea1" placeholder="Vrijeme događaja">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.trajanje" id="exampleFormControlInput2" placeholder="Trajanje u minutama (npr. 120)">
            </div>
            <a class="btn btn-primary btn-secondary" ng-click="$ctrl.addNewDog()" id="AddPost">Dodaj Događaj</a>

            </span>
        </div>
    </div>

    </div>
    <div class="card w-75 darkmodeprimary" ng-show="ModOnly2" id="editableForum" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body" ng-show="enableEdit">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.idEdit" id="idEdit" placeholder="ID" readonly>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.nazivEdit" id="nazivEdit" placeholder="Naziv">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="$ctrl.mjestoEdit" id="mjestoEdit" placeholder="Mjesto">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="opisEdit" ng-model="$ctrl.opisEdit" placeholder="Opis" rows="2"></textarea>
            </div><span>
            <a href="#" ng-show="CloseEditDogShow" class="btn btn-grn" ng-click="$ctrl.EditDogClose($index)" style="color: white;" id="ClosePost">Završi i Odobri</a>
            <a href="#" ng-show="CloseEditStop" class="btn btn-smaller" ng-click="$ctrl.EditStop()" style="color: white;" id="StopEdit">Odustani</a>
        </span></div>
        <h2 ng-show="$ctrl.noMoreDogNew" class="card-text" style="text-align: center">Nema prijedloga buducih dogadaja</h2>
        <hr>
        <div class="card-body" ng-show="ModOnly" ng-repeat="dog in dogtemenew">
            <p class="card-text">ID: <b>{{getIdNew($index)}}</b></p>
            <h5 class="card-title">{{getDogNameNew($index)}}</h5>
            <p class="card-text">{{getDogOpisNew($index)}}</p>
            <p class="card-text">{{getDogMjestoNew($index)}}</p>
            <p class="card-text">{{getDogDatumNew($index)}} - {{getDogVrijemeNew($index)}}</p>
            <p class="card-text" ng-show="dontEdit">{{getDogTrajanjeNew($index)}}</p>
            <p class="card-text">{{getPersonNew($index)}}</p>
            <span>
            <a href="#" ng-show="OdobriDog" id="nonEditBtn" class="btn btn-grn" ng-click="$ctrl.approveDog($index)" style="color: white;" id="ApprovePost" >Odobri Događaj</a>
            <a href="#" ng-show="EditDogShow" class="btn btn-primary btn-secondary" ng-click="$ctrl.EditDog($index)" style="color: white;" id="EditPost">Uredi Događaj</a>
            <a href="#" ng-show="RemoveDogShow" class="btn btn-smaller" ng-click="$ctrl.deleteDogBefShow($index)" style="color: white;" id="RemovePost">Izbriši Događaj</a>
            <br ng-show="$ctrl.deleteDogBefChoice[$index]"></br>
            <p ng-show="$ctrl.deleteDogBefChoice[$index]" class="card-text" style = "float: right; margin-right: 30px;"><b>Jeste li sigurni?</b></p>
            <br ng-show="$ctrl.deleteDogBefChoice[$index]"></br>
            <a ng-show="$ctrl.deleteDogBefChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteDogBefNo($index)" style="margin-left: 20px; color: white; float:right; margin-right: 20px;" id = "cancelDeleteDogBef">Ne</a>
            <a ng-show="$ctrl.deleteDogBefChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.RemoveDog($index)" style="margin-left: 200px; color: white; float:right; margin-right: 20px;" id = "potvrdiDeleteDogBef">Da</a>
            </span>

            <hr>
        </div>
    </div>


    <div class="card w-75 darkmodeprimary" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body" ng-repeat="dog in dogteme">
            <h2 class="card-title">{{getDogName($index)}}</h2>
            <h5 class="card-text">{{getDogOpis($index)}}</h5>
            <h5 class="card-text">{{getDogMjesto($index)}}</h5>
            <h6 class="card-text">{{getDogDatum($index)}} - {{getDogVrijeme($index)}}</h6>
            <h6 class="card-text">{{getDogTrajanje($index)}}</h6>
            <h6 class="card-text">{{getPerson($index)}}</h6><span>
            <a class="btn btn-grn" ng-click="$ctrl.Dolazim($index)" style="color: white;" id="Dolazim">Dolazim / {{getDolazak($index)}}</a>
            <a class="btn btn-yellow" ng-click="$ctrl.MDolazim($index)" style="color: white;" id="MDolazim">Možda Dolazim/ {{getMDolazak($index)}}</a>
            <a class="btn btn-smaller" ng-click="$ctrl.NeDolazim($index)" style="color: white;" id="NeDolazim">Ne Dolazim / {{getNeDolazak($index)}}</a>
            <a ng-show="$ctrl.RemoveDogAfter" class="btn btn-smaller" ng-click="$ctrl.deleteDogShow($index)" style="color: white; float:right;" id="RemovePostA">Izbriši Događaj</a>
            <br ng-show="$ctrl.deleteDogChoice[$index]"></br>
            <p ng-show="$ctrl.deleteDogChoice[$index]" class="card-text" style = "float: right"><b>Jeste li sigurni?</b></p>
            <br ng-show="$ctrl.deleteDogChoice[$index]"></br>
            <a ng-show="$ctrl.deleteDogChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteDogNo($index)" style="margin-left: 20px; color: white; float:right" id = "cancelDeleteDog">Ne</a>
            <a ng-show="$ctrl.deleteDogChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.RemoveDogAft($index)" style="margin-left: 200px; color: white; float:right;" id = "potvrdiDeleteDog">Da</a>
        </span>
            <hr style="margin-top: 60px;">
            <!--   <button type="button" class="btn btn-secondary">
        <i class="fas fa-arrow-up dolazim">+ Dolazim +</i><span>{{getDolazim($index)}}</span>-->
            <!-- https://codepen.io/Sero13/pen/Bqdmvr
            </button>
            <button type="button" class="btn btn-secondary">
        <i class="fas fa-arrow-up neDolazim ">- Ne Dolazim -</i><span>{{getNeDolazim($index)}}</span>
      </button>
            <button type="button" class="btn btn-secondary">
        <i class="fas fa-arrow-up zainteresiran">! Zainteresiran !</i><span>{{getZainteresiran($index)}}</span>
      </button>-->
        </div>
    </div>




    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3 darkmodeprimary">
            © 2021 Copyright: <span><b>MojKvart</b></span>
            <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top" style="color:#ff6600;">
        <i class="fas fa-arrow-up ">TOP</i>
      </button>
        </div>
    </footer>

</body>
<!-- <script src="Add-topbtn.js"></script> -->

</html>