<div ng-show="formbtn">
    <button type="button" class="btn btn-lg" ng-click="openForm()" id="btn-open-form" style="color:#ff6600; margin-left: 12.5%; margin-top: 25px;">
        <i class="fas fa-arrow-up ">+ Otvori novu temu +</i>
      </button>
</div>
<div ng-show="formbtn2">
    <button type="button" class="btn btn-lg" ng-click="openForm()" id="btn-open-form" style="color:#ff6600; margin-left: 12.5%; margin-top: 25px;">
        <i class="fas fa-arrow-up ">- Zatvori dodavanje teme -</i>
      </button>
</div>

<div>
    <div ng-show="forminput" class="card w-75 darkmodeprimary" style="margin-bottom: 50px; margin-top: 50px;
        justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="Input1" ng-model="$ctrl.Input1" placeholder="Naslov Teme" required>
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" name="Input2" ng-model="$ctrl.Input2" placeholder="Prvi Komentar" rows="3"></textarea>
            </div>
            <a href="#" class="btn btn-primary btn-secondary" ng-click="$ctrl.addNewPost()" id="AddPost">Dodaj Temu</a>
            <p ng-show="showTemaExist" class="card-text">Tema sa tim naslovom već postoji! Molimo odaberite drugi naslov.</p>
            <a ng-show="showTemaExist" href="#" class="btn btn-primary btn-secondary" ng-click="$ctrl.temaExistsOdi()" id="TemaExistBtn">Prikaži postojeću temu</a>
        </div>
    </div>
</div>

<div class="card w-75" id="maincard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
    <div class="card-body">
        <div ng-repeat="tema in teme">
            <h3 class="card-title"><b>{{getThreadName($index)}}</b></h3>
            <h6 class="card-text">{{getThreadDesc($index)}}</h6>
            <p class="card-text">Broj Odgovora: {{getNumberComm($index)}}</p>
            <a ng-click="$ctrl.joinThread($index)" class="btn btn-org" id="btn-join">Pridruži se</a>
            <a ng-show="$ctrl.deleteTema" class="btn btn-smaller" ng-click="$ctrl.deleteTemaShow($index)" style="margin-left: 200px; color: white;float:right" id="deleteTema">Izbriši Temu</a>
            <br ng-show="$ctrl.deleteTemaChoice[$index]"></br>
            <p ng-show="$ctrl.deleteTemaChoice[$index]" class="card-text" style="float: right; margin-right: 30px;"><b>Jeste li sigurni?</b></p>
            <br ng-show="$ctrl.deleteTemaChoice[$index]"></br>
            <a ng-show="$ctrl.deleteTemaChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteTemaNo($index)" style="margin-left: 20px; color: white; float:right;margin-right: 20px;" id="cancelDeleteTema">Ne</a>
            <a ng-show="$ctrl.deleteTemaChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteTemaF($index)" style="margin-left: 200px; color: white; float:right;margin-right: 20px;" id="potvrdiDeleteTema">Da</a>
            <hr style="margin-top: 60px"></hr>
        </div>
    </div>
</div>