<div class="card w-75" id="maincard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
    <div class="card-body">
        <h3 class="card-title<"><b>{{getCurrThreadName()}}</b></h3>
        <hr>
        <h4 class="card-title">{{getCurrThreadText()}}</h4>
        <p class="card-text">{{getCurrThreadDesc()}}</p>
        <a ng-show="ownThread" class="btn btn-smaller" ng-click="$ctrl.deleteTopTemaShow()" style="margin-left: 20px; color: white; float:right" id="deleteThread">Izbriši temu</a>
        <br ng-show="$ctrl.deleteTopTemaChoice"></br>
        <p ng-show="$ctrl.deleteTopTemaChoice" class="card-text" style = "float: right"><b>Jeste li sigurni?</b></p>
        <br ng-show="$ctrl.deleteTopTemaChoice"></br>
        <a ng-show="$ctrl.deleteTopTemaChoice" class="btn btn-smaller" ng-click="$ctrl.deleteTopTemaNo()" style="margin-left: 20px; color: white; float:right" id = "cancelDeleteTopTema">Ne</a>
        <a ng-show="$ctrl.deleteTopTemaChoice" class="btn btn-smaller" ng-click="$ctrl.deleteThread()" style="margin-left: 200px; color: white; float:right" id = "potvrdiDeleteTopTema">Da</a>
    </div>
</div>
<div ng-repeat="odgovor in odgovori">
    <div class="card w-75" id="subcard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 17.5%; margin-right: 12.5%;">
        <div class="card-body">
            <h6 class="card-text">{{getCommentDesc($index)}}</h6>
            <hr><span>
            <h4 class="card-text" style = "float: left">{{getCommentText($index)}}</h4>
            <a ng-show="reportUser" class="btn btn-smaller" ng-click="$ctrl.reportCommShow($index)" style="margin-left: 20px; color: white; float:right" id="deleteComm">Prijavi</a>
            <br ng-show="$ctrl.reportCommChoice[$index]"></br>
            <p ng-show="$ctrl.reportCommChoice[$index]" class="card-text" style = "float: right"><b>Jeste li sigurni?</b></p>
            <br ng-show="$ctrl.reportCommChoice[$index]"></br>
            <a ng-show="$ctrl.reportCommChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.reportCommNo($index)" style="margin-left: 20px; color: white; float:right" id = "cancelReportComm">Ne</a>
            <a ng-show="$ctrl.reportCommChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.reportUser($index)" style="margin-left: 200px; color: white; float:right" id = "potvrdiReportComm">Da</a>

            <a ng-show="deleteCommV" class="btn btn-smaller" ng-click="$ctrl.deleteCommShow($index)" style="float:right; margin-left:20px; color: white;" id="RemoveComm">Izbriši Komentar</a>
            <a ng-show="editCommV" class="btn btn-smaller" ng-click="$ctrl.editCommShow($index)" style="float:right; margin-left:20px; color: white;" id="EditComm">Uredi Komentar</a>

            <div ng-show=$ctrl.editCommChoice[$index]>
                <div class="form-group">
                    <textarea type="text" class="form-control" name="Input2" ng-model="$ctrl.Input2" placeholder="Novi sadržaj" rows="3"></textarea>
                </div>
                <a class="btn btn-smaller" ng-click="$ctrl.editCommNo($index)" style="float:right; margin-left:20px; color: white;" id="EditComm">Odustani</a>
                <a class="btn btn-smaller" ng-click="$ctrl.editComm($index)" style="float:right; margin-left:20px; color: white;" id="EditComm">Potvrdi</a>
            </div>

            <br ng-show="$ctrl.deleteCommChoice[$index]"></br>
            <p ng-show="$ctrl.deleteCommChoice[$index]" class="card-text" style = "float: right"><b>Jeste li sigurni?</b></p>
            <br ng-show="$ctrl.deleteCommChoice[$index]"></br>
            <a ng-show="$ctrl.deleteCommChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteCommNo($index)" style="margin-left: 20px; color: white; float:right" id = "cancelDeleteComm">Ne</a>
            <a ng-show="$ctrl.deleteCommChoice[$index]" class="btn btn-smaller" ng-click="$ctrl.deleteComm($index)" style="margin-left: 200px; color: white; float:right" id = "potvrdiDeleteComm">Da</a>
            </span>
        </div>
    </div>
</div>

<div class="card w-75" id="subcard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 17.5%; margin-right: 12.5%;">
    <div class="card-body">
        <textarea class="form-control" name="KomInput" ng-model="$ctrl.KomInput" id="KomInput" placeholder="Komentar" rows="1"></textarea>
        <hr>
        <a class="btn btn-primary" ng-click="$ctrl.addNewComm()" style="color: white" id="addComm">Dodaj Komentar</a>
    </div>
</div>