<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="icon" href="MojKvartLogo_nobg.png">
    <script src="angularmin.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="box">
        <form name="signupform" novalidate autocomplete="off" method="POST">
            <h1 ng-show="showlogin">Prijava</h1>
            <h1 ng-show="showsignup">Registracija</h1>
            <div class="txtField" ng-show="showsignup">
                <i class="User icon"></i>
                <input type="text" class="txtfield-input" name="name" ng-model="name" placeholder="Ime" required>
                <label></label>

                <div class="indicator"></div>

                <div>
                    <span ng-show="signupform.$submitted || signupform.name.$dirty">
                        <span class="error" ng-show="signupform.name.$error.required">
                            <b class="exclamation circle">Ime potrebno!</b>
                        </span><br>
                    </span>
                </div>

            </div>
            <div class="txtField" ng-show="showsignup">
                <i class="User icon"></i>
                <input type="text" class="txtfield-input" name="surname" ng-model="surname" placeholder="Prezime" required>
                <label></label>

                <div class="indicator"></div>

                <div>
                    <span ng-show="signupform.$submitted || signupform.surname.$dirty">
                        <span class="error" ng-show="signupform.surname.$error.required">
                            <b class="exclamation circle">Prezime potrebno!</b>
                        </span><br>
                    </span>
                </div>

            </div>
            <div class="txtField" ng-show="showsignup">
                <i class="User icon"></i>
                <input type="text" class="txtfield-input" name="address" ng-model="address" placeholder="Adresa Stanovanja" required>
                <label></label>

                <div class="indicator"></div>

                <div>
                    <span ng-show="signupform.$submitted || signupform.address.$dirty">
                        <span class="error" ng-show="signupform.address.$error.required">
                            <b class="exclamation circle">Adresa stanovanja potrebna!</b>
                        </span><br>
                    </span>
                </div>

            </div>
            <div class="txtField">
                <i class="User icon"></i>
                <input type="text" class="txtfield-input" name="email" ng-model="email" placeholder="Adresa e-pošte" required>
                <label></label>

                <div class="indicator"></div>

                <div>
                    <span ng-show="signupform.$submitted || signupform.email.$dirty">
                        <span class="error" ng-show="signupform.email.$error.required">
                            <b class="exclamation circle">Adresa e-pošte potrebna!</b>
                        </span><br>
                    </span>
                </div>

            </div>

            <div class="txtField">
                <i class="Key icon"></i>
                <input type="password" class="txtfield-input" name="password" ng-model="password" placeholder="Lozinka" required>
                <label></label>
                <div class="indicator"></div>
                <div>
                    <span ng-show="signupform.$submitted || signupform.password.$dirty">
                        <span class="error" ng-show="signupform.password.$error.required">
                            <b class="exclamation circle">Lozinka potrebna!</b>
                        </span><br>
                    </span>
                </div>

            </div>
            <span class="error" ng-show="emailbrisan"><b class="exclamation circle">Email je trajno izbrisan! Napišite važeći mail.</b></span>
            <span class="error" ng-show="nemaulice"><b class="exclamation circle">Navedena ulica ne postoji! Napišite važeću ulicu.</b></span>
            <span class="error" ng-show="registracijaerror"><b class="exclamation circle">Email je već u uporabi!</b></span>
            <span class="error" ng-show="prijavaerror"><b class="exclamation circle">Neispravni podatci za prijavu!</b></span>
            <span class="error" ng-show="blockederror"><b class="exclamation circle">Blokiran korisnik!</b></span>
            <br><br>
            <div class="logindiv">
                <button type="submit" name="submit" class="loginbtn" ng-click="login()">
                <span class="lspan"></span>
                <span class="lspan"></span>
                <span class="lspan"></span>
                <span class="lspan"></span>
                {{btnName}}</button>
            </div>
            <div class=" accbox">
                <p class="account" ng-show="showsignup">Korisnik već postoji?
                    <span><a ng-click="loginpage()">Prijavi se</a></span>
                </p>
                <p class="account" ng-show="showlogin">Novi korisnik?
                    <span><a ng-click="signuppage()">Registriraj se</a></span>
                </p>
            </div>
        </form>
    </div>


</body>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope, $http, $window) {

        $scope.btnName = "prijava";
        $scope.showsignup = false;
        $scope.showlogin = true;
        $scope.registracijaerror = false;
        $scope.prijavaerror = false;

        $scope.role = 0;

        $http.post(
            "https://progifroggies-moj-kvart-be.herokuapp.com/profil", {
                "userId": localStorage.getItem("userId")
            }
        ).then(function(data) {
            //console.log(data)
            $scope.role = data.data.role;
            //console.log($scope.role)
            if ($scope.role == 3) {
                $window.location.href = "admin.html";
            } else if ($scope.role == 1) {
                $window.location.href = "Forum.html";
            }
        });

        $scope.getUserRoleText = function() {
            return ['Stanovnik', 'Moderator', 'Vijećnik', 'Administrator'][$scope.role];
        }

        $scope.signuppage = function() {
            $scope.prijavaerror = false;
            $scope.registracijaerror = false;
            $scope.showsignup = $scope.showsignup ? false : true;
            $scope.showlogin = false;
            $scope.btnName = "registracija";
            $scope.signupform.$setPristine();
            $scope.name = null;
            $scope.surname = null;
            $scope.address = null;
            $scope.email = null;
            $scope.password = null;
        }

        $scope.loginpage = function() {
            $scope.prijavaerror = false;
            $scope.registracijaerror = false;
            $scope.showlogin = $scope.showlogin ? false : true;
            $scope.showsignup = false;
            $scope.btnName = "prijava";
            $scope.signupform.$setPristine();
            $scope.email = null;
            $scope.password = null;
            $scope.emailbrisan = false;
            $scope.nemaulice = false;
        }
        $scope.login = function() {
            if ($scope.btnName == "registracija") {
                if ($scope.name != null && $scope.surname != null && $scope.address != null && $scope.email != null && $scope.password != null) {
                    $scope.postf();
                }
            } else if ($scope.btnName == "prijava") {
                if ($scope.email != null && $scope.password != null) {
                    $scope.postf();
                }
            }
        }
        $scope.emailbrisan = false;
        $scope.nemaulice = false;
        $scope.postf = function() {
            if ($scope.btnName == "registracija") {
                $http.post(
                    "https://progifroggies-moj-kvart-be.herokuapp.com/register", {
                        'email': $scope.email,
                        'btnName': $scope.btnName,
                        'name': $scope.name,
                        'surname': $scope.surname,
                        'streetName': $scope.address,
                        'passwordNoHash': $scope.password
                    }
                ).then(function(data) {
                    // alert(data.data.email);
                    $scope.emailbrisan = false;
                    $scope.registracijaerror = false;
                    $scope.nemaulice = false;
                    if (data.data.password == null) {
                        $scope.emailbrisan = true;
                    } else {
                        if (data.data.email == null) {
                            $scope.registracijaerror = true;
                            return;
                        }
                        if (data.data.streetId == null) {
                            $scope.nemaulice = true;
                            return;
                        }
                        $window.location.reload();
                        if (data.data.email != null) {
                            localStorage.setItem("role", data.data.role);
                            localStorage.setItem("userId", data.data.userId);
                            window.location.href = "Forum.html"
                        }
                    }
                });
            } else if ($scope.btnName == "prijava") {
                $http.post(
                    "https://progifroggies-moj-kvart-be.herokuapp.com/login", {
                        'email': $scope.email,
                        'passwordNoHash': $scope.password,
                        'btnName': $scope.btnName
                    }
                ).then(function(data) {
                    // alert(data.data.email);
                    if (data.data.blocked == true) {
                        $scope.blockederror = true;
                        return;
                    }
                    if (data.data.email == null) {
                        $scope.prijavaerror = true;
                        return;
                    }
                    $window.location.reload();
                    if (data.data.email != null) {
                        localStorage.setItem("role", data.data.role);
                        localStorage.setItem("userId", data.data.userId);
                        $window.location.href = "Forum.html";
                    }
                });
            }

        }

    });
</script>

</html>