<div ng-controller="myCtrl" ng-app="myApp">
    <div class="card w-75" id="newform" style="margin-bottom: 50px; margin-top: 50px;
       justify-content: center; margin-left: 12.5%; margin-right: 12.5%;" id="newform">
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="txtfield-input" name="newName" ng-model="newName" placeholder="Ime Četvrti" required>
            </div>
            <a href="" ng-click="novaCetvrt()" class="btn btn-primary btn-secondary" id="AddPost">Dodaj Četvrt</a>
        </div>
    </div>
    <div class="card w-75" id="maincard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body">
            <h3 class="card-title">Upravljanje četvrtima</h3>
            <div ng-repeat="cetvrt in cetvrti">
                <h5 class="card-title">{{cetvrt.imeCetvrti}}</h5>
                <div ng-show="showlist[{{$index}}]==0">
                    <a class="btn btn-primary btn-smaller" style = "color: white; "ng-click="showButton($index)">Prikaži ulice</a>
                    <!--<a class="btn btn-smaller" style = "color: white; "ng-click="showConfirmButton($index)">Izbriši Četvrt</a>-->
                     <div ng-show="confirmlist[{{$index}}]==1">
                        <p class="card-text" style = "float: left">Jeste li sigurni da želite izbrisati četvrt?</p>
                        <a class="btn btn-primary btn-smaller" ng-click = "deleteArea" style = "margin-left: 5px; color: white; float: left">Da</a>
                        <a class="btn btn-primary btn-smaller" ng-click = "showConfirmButton($index)" style = "margin-left: 5px; color: white; float: left">Ne</a>
                        <br></br>
                    </div>
                </div>
                <div ng-show="showlist[{{$index}}]==1">
                    <a class="btn btn-primary btn-smaller" style = "color: white;" ng-click="showButton($index)">Sakrij ulice</a>
                    <!--<a class="btn btn-smaller" style = "color: white; "ng-click="showConfirmButton($index)">Izbriši Četvrt</a>-->
                    <div ng-show="confirmlist[{{$index}}]==1">
                        <p class="card-text" style = "float: left">Jeste li sigurni da želite izbrisati četvrt?</p>
                        <a class="btn btn-primary btn-smaller" ng-click = "deleteArea" style = "margin-left: 5px; color: white; float: left">Da</a>
                        <a class="btn btn-primary btn-smaller" ng-click = "showConfirmButton($index)" style = "margin-left: 5px; color: white; float: left">Ne</a>
                         <br></br>
                    </div>
                    <div ng-repeat="ulica in ulice | filter: {idCetvrti: cetvrt.idCetvrti}">
                        <p class="card-text" style="float: left;">{{ulica.imeUlice}}</p>
                        <!--<a class="btn btn-smaller" style="float: left; color: white;" ng-click="deleteStreet(ulica.idUlice)">Izbriši ulicu</a>-->
                        <br></br>
                    </div>
                    <a class="btn btn-grn" style = "color: white;" ng-click="showAddButton($index)">Nova ulica</a>
                    <div ng-show="addlist[{{$index}}]==1">
                        <div class="form-group">
                            <input type="txtfield-input" class="form-control" name="newStreetName" ng-model="newStreetName" placeholder="Ime ulice" required>
                        </div>
                        <a class = "btn btn-grn" style = "color: white;" ng-click="addStreet($index, newStreetName)">Dodaj novu ulicu</a>
                        <p ng-show="showExistStreetError[$index]==1" class="card-text">Ulica već postoji!</p>
                    </div>
                    <br></br>
                </div>
                <br></br>
            </div>
            <br></br>
            <a class="btn btn-primary btn-smaller" style = "color: white;" ng-click="showAddCetvrt()">Nova Četvrt</a>
            <div ng-show="addcet==1">
                <div class="form-group">
                    <input type="txtfield-input" class="form-control" name="newCetName" ng-model="newCetName" placeholder="Ime četvrti" required>
                </div>
                <a class = "btn btn-grn" style = "color: white;" ng-click="novaCetvrt(newCetName)">Dodaj novu četvrt</a>
                <p ng-show="showExistError==1" class="card-text">Četvrt već postoji!</p>
            </div>
            <!--
            <h5 class="card-title">Naslov objave</h5>
            <p class="card-text">Opis objave</p>
            <a href="#" class="btn btn-primary btn-secondary" id="btn-join">Pridruži se</a>
            -->

            <!--<script>
                var tcets = JSON.parse(localStorage.getItem('cetvrti'))
                var crd = document.getElementById("maincard")
                for (const cetind in tcets) {
                    console.log(tcets[cetind])
                    var tag = document.createElement("h5");
                    tag.setAttribute("class", "card-title")
                    tag.appendChild(document.createTextNode(tcets[cetind].imeCetvrti))
                    crd.appendChild(tag)

                    var btn = document.createElement("a")
                    btn.setAttribute("href", "neighborhoods/" + (tcets[cetind].idCetvrti).toString())
                    btn.setAttribute("class", "btn btn-primary btn-secondary")
                    btn.appendChild(document.createTextNode("Uredi Četvrt"))
                    crd.appendChild(btn)

                    //nadji ulice
                    var ulice = JSON.parse(localStorage.getItem('ulice'))
                    for (const ulind in ulice) {
                        if (ulice[ulind].idCetvrti == tcets[cetind].idCetvrti) {
                            console.log(ulice[ulind]);
                            var ultag = document.createElement("p")
                            ultag.setAttribute("class", "card-text")
                            ultag.appendChild(document.createTextNode(ulice[ulind].imeUlice))
                            crd.appendChild(ultag)
                        }
                    }

                    
                }
                /*for (let i = 0; i < ids.length; i++) {
                    var tag = document.createElement("h5");
                    tag.appendChild(document.createTextNode(names[i]))
                    crd.appendChild(tag)
                }*/
            </script>-->
        </div>
    </div>
</div>