
    <div>
        <button type="button" class="btn btn-lg" id="btn-open-form" style="color:#ff6600; margin-left: 12.5%; margin-top: 25px;">
        <i class="fas fa-arrow-up ">+ Dodaj novu četvrt +</i>
      </button>
    </div>
    <div class="card w-75" id="newform" style="margin-bottom: 50px; margin-top: 50px;
       justify-content: center; margin-left: 12.5%; margin-right: 12.5%;" id="newform">
        <div class="card-body">
            <div class="form-group">
                <input type="text" class="txtfield-input" name="newName" ng-model="newName" placeholder="Ime Četvrti" required>
            </div>
            <a href="" ng-click="novaCetvrt()" class="btn btn-primary btn-secondary" id="AddPost">Dodaj Četvrt</a>
        </div>
    </div>
    <div class="card w-75" id="maincard" style="margin-bottom: 50px; margin-top: 50px; justify-content: center; margin-left: 12.5%; margin-right: 12.5%;">
        <div class="card-body">
            <h5 class="card-title">ROUTING SUCESS</h5>
            <p class="card-text">Opis objave</p>
            <a href="#" class="btn btn-primary btn-secondary" id="btn-join">Pridruži se</a>
        </div>
    </div>