<!DOCTYPE html>
<html style="background:black">

<head>
    <title>Četvrti</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <script src="angularmin.js"></script>
    <script src="angular-route.js"></script>
    <link rel="icon" href="MojKvartLogo_nobg.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="neighborhood.js"></script>
    <!-- <script type="text/javascript" src="darkmodebtn.js"></script> -->
</head>


<body style="background: url('background.jpg') " ng-controller="myCtrl" ng-app="myApp">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="" style="padding-left: 25px;"><b><img class="iconMK" src="MojKvartLogo_nobg.png"></b></a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="checkRequests.html" style="padding-left: 0px;"><b>Zahtjevi</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="neighborhoods.html"><b>Četvrti</b> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users.html"><b>Korisnici</b></a>
                </li>
            </ul>
            <button class="btn-darkmd" ng-click="darkmodefunc()" id="btn-darkmode"><b>LIGHT MODE</b></button>
            <span class="navbar-text">
                <a class="nav-link" href="" ng-click="logout()" style="padding-right: 50px;"><b>Odjavi se</b></a>
          </span>
            <span class="navbar-text">
            <a href="Profil.html"><b>{{getUserRoleText()}}</b></a>
            <!--<a href="Profil.html" ng-show="stanovnik"><b>Stanovnik</b></a>
            <a href="Profil.html" ng-show="moderator"><b>Moderator</b></a>
            <a href="Profil.html" ng-show="vjecnik"><b>Vjećnik</b></a>
            <a href="Profil.html" ng-show="administrator"><b>Administrator</b></a>-->
        </span>
        </div>
    </nav>

    <div ng-view></div>

    <footer class="bg-light text-center text-lg-start" style="background-color:#000000;">
        <div class="text-center p-3" style="background-color: rgba(0,0,0,0.2);">
            © 2021 Copyright: <span><b>MojKvart</b></span>
            <button type="button" class="btn btn-floating btn-lg" id="btn-back-to-top" style="color:#ff6600;">
      <i class="fas fa-arrow-up ">TOP</i>
    </button>
        </div>
    </footer>




</body>

</html>